@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Century Gothic';
    src: url('font/CenturyGothic.woff2') format('woff2'),
         url('font/CenturyGothic.woff') format('woff');
}
html{scroll-behavior: smooth;}
body {
    margin:0; 
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
    background-color: rgb(252, 252, 252);
    color: #ffffff;
    
}
header {
    
position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.279);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    z-index: 999;
    padding: 0 20px;
    backdrop-filter: blur(3px); 
}

.logo {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    margin-bottom: 10px;

}

.header-content a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(21, 71, 159, 0.416); 
    border: 2px solid #fff; 
    transition: background-color 0.3s  ease;
    border-radius: 15px;
}
.header-content .donatee{
    background-color: rgba(199, 19, 19, 0.591); 

}

.header-content a:hover {
    background-color: rgba(255, 255, 255, 0);
        
}

.main {
    position: relative;
    display: flex;
    background-image: url('../img/about.jpg');
    background-size: cover;
    align-items: center;
    height: 60vh;
    color: rgb(255, 255, 255);
    margin-top: 95px;

}
.content {
    position: absolute;
    background: radial-gradient(circle, rgba(56, 55, 55, 0.372), rgba(0, 0, 0, 0.395));
    height: 60vh;
    width: 40%;
    z-index: 11;
}
.content h1 {
    font-size: 60px; 
    margin-top: 25vh;
    margin-left: 4%;
}
.content h3 {
    margin-left: 8%;
}
.svg{
    margin-top: 40px;
    z-index:-1;
    position: relative;
}
.about {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 95vh;
    width: 90%; 
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    height: 45vh;
}

.about1 img {
    height: 45vh;
    border-radius: 50%;
}

.about2 {
    max-width: 60%; 
    margin-top: 50px;
}
.donate{
    display: flex;
    justify-content: space-between;

}
.donate1{
    margin-top: 120px;
    display: block;
    background-color: rgba(55, 53, 58, 0.573);
    border-radius: 20px;
    height: 50vh;
    margin-left: 20px;
   }
.donate1 h1,
.donate1 p{
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}   
.donate1 a{
    margin-top: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    width: fit-content; 
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(67, 130, 193, 0.591); 
    border: 2px solid #fff; 
    transition: background-color 0.3s  ease;
    border-radius: 15px;
}   
.donate1 a:hover {
    background-color: rgba(255, 255, 255, 0);
        
}
.side{
    color: rgb(4, 4, 75);
    margin-left: 5%;
}
.affiliate h1{
    margin-top: 60px;
    color: #ef9d22;
    text-align: center;
    font-size: 40px;
}
.affiliate1{
    display: flex;
    justify-content: space-between;
    margin-left:15% ;
    margin-right: 15%;
}
.affiliate1 img{
    height: 40vh;
    border: 1px solid #39023d;
}
.member{
    color: #140353;
    background-color: rgba(0, 0, 0, 0.129);
    height: 15vh;
 }
 .member h1{
    padding-top: 2%;
 text-align: center;
 }
 .name{
    display: flex;
    justify-content: center;
 }
 .name h3{
    margin-left: 3%;
    margin-right: 3%;
 }



footer {
    display: flex;
    background-color: #000000;
    margin-top: 40px;
    height: auto;

}
.footer-left {
    border-right: 1px solid #d7ac03; 
    padding-right: 20px; 
    margin-right: 20px; 
    margin-left: 50px;
    padding-top: 50px;
    width: 50%;
}
.footer-links {
    display: block; 
    text-align: left;
    padding-left: 15px;
}

.footer-links a {
    display: block; 
    padding: 5px 0; 
    color: #ffffff; 
    text-decoration: none; 
}
.footer-links a:hover {
    color: #d7ac03; 
}
.santosh{
    display: block;
}
.santosh img {
    height: 120px;
}
.santosh a{
   margin-top: 15px;
   display: block;
    padding: 10px;
    color: #ffffff;
   width: 150px;
   background-color: #136bc871;
   text-decoration: none; 
   transition: background-color 0.3s;

}
.santosh a:hover {
    background-color: #452553;
 }
.footer-content{
    margin-top: 10px;

}
.contact-info{
    position: relative;
    margin-left: 2px;
    margin-top: 5px;
}
.footlogo img {
    height: 30vh;
}

.footlogo {
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 10px; /* Adjust as needed */
}

.con {
    display: flex;
    margin-top: 20px;
    margin-left: 35vh;
    margin-bottom: 5px; 
}

.con img {
    height: 20px;
    margin-right: 5px; 
    border-radius: 50%;
}

.contact-info p {
    font-size: 11px;
    margin: 2px 0; 
    padding: 0; 
}
.contact {
    margin-top: 50px;
    display: inline-block;
    
    border-radius: 20px;
    background-color: #00000000;
    padding: 10px;
}

.contact-icon {
    height: 35px;
    border-radius: 50%;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.contact-icon:hover {
    transform: scale(1.2);
}


#contact-form {
   max-width: 90%;
}

input[type="text"],
input[type="email"],
textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
}

button[type="submit"] {
   width: 105%;
   padding: 10px;
   background-color: #136bc871;
   color: #ffffff;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
}

button[type="submit"]:hover {
   background-color: #452553;
}
.copyright {
    margin-left: 20%;
    font-size: 10px;
}
@media screen and (max-width: 768px) {
    
    
    /* Header */
    header {
        height: auto; 
        padding: 10px; 
    }

    .logo {
        width: 80px; 
        height: auto;
        margin: 5px; 
    }

    .header-content a.donate {
        display: block; 
        margin: 0 auto;
        margin-bottom: 10px; 
        text-align: center;
    }
    
    .header-content a {
        padding: 5px 10px;
        font-size: 12px;
    }

    /* Main */
    .main {
        margin-top: 100px; 
        width: 90%; 
        margin-right: auto; 
        margin-left: auto; 
    }
    .about img{
        display: none;
    }
    .about2{
        display: none;
        
    }
    .affiliate1{
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 20px; 
        flex-direction: column; 
        justify-content: space-between; 
        align-items: center; 
    }

    .footer-left {
        width: 100%; 
        margin-left: 0;
        border-right: 0; 
    }

    .contact-info {
        width: 90%; 
        margin-top: 20px; 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between; 
        color: #fff; 
    }

    .contact-info .footlogo {
        flex-basis: 100%;
        width: 20px; 
        max-width: 100%; 
        margin-bottom: 20px; 
        text-align: center; 
    }

    .contact-info .con {
        flex-basis: 48%; 
        max-width: 48%; 
    }

    .contact-info .con img {
        height: 20px; 
    }

    .contact-info .con p {
        font-size: 12px; 
        margin: 0; 
        padding-left: 5px; 
    }

    .contact-info .contact {
        flex-basis: 100%; 
        max-width: 100%; 
        margin-top: 20px; 
        text-align: center;
    }

    .contact-info .contact nav {
        display: flex;
        justify-content: center;
    }

    .contact-info .contact .contact-icon {
        height: 35px;
        margin: 5px;
    }

    #contact-form {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 20px; 
        text-align: center; 
    }

    #contact-form h3 {
        color: #fff; 
    }

    #contact-form form {
        margin-top: 10px; 
    }

    #contact-form input,
    #contact-form textarea {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px; 
    }

    #contact-form button[type="submit"] {
        width: 100%; 
    }

    
    .copyright {
        flex-basis: 100%; 
        max-width: 100%; 
        margin-top: 20px; 
        text-align: center;
        color: #fff; 
        font-size: 12px; 
    }
}
@media screen and (max-width: 1024px) {
    
    
    /* Header */
    header {
        height: auto; 
        padding: 10px; 
    }

    .logo {
        width: 80px; 
        height: auto;
        margin: 5px; 
    }

    .header-content a.donate {
        display: block; 
        margin: 0 auto;
        margin-bottom: 10px; 
        text-align: center;
    }
    
    .header-content a {
        padding: 5px 10px;
        font-size: 12px;
    }

    /* Main */
    .main {
        margin-top: 100px; 
        width: 90%; 
        margin-right: auto; 
        margin-left: auto; 
    }
    .about img{
        display: none;
    }
    .about2{
        display: none;
        
    }
    .affiliate1{
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 20px; 
        flex-direction: column; 
        justify-content: space-between; 
        align-items: center; 
    }

    .footer-left {
        width: 100%; 
        margin-left: 0;
        border-right: 0; 
    }

    .contact-info {
        width: 90%; 
        margin-top: 20px; 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between; 
        color: #fff; 
    }

    .contact-info .footlogo {
        flex-basis: 100%;
        width: 20px; 
        max-width: 100%; 
        margin-bottom: 20px; 
        text-align: center; 
    }

    .contact-info .con {
        flex-basis: 48%; 
        max-width: 48%; 
    }

    .contact-info .con img {
        height: 20px; 
    }

    .contact-info .con p {
        font-size: 12px; 
        margin: 0; 
        padding-left: 5px; 
    }

    .contact-info .contact {
        flex-basis: 100%; 
        max-width: 100%; 
        margin-top: 20px; 
        text-align: center;
    }

    .contact-info .contact nav {
        display: flex;
        justify-content: center;
    }

    .contact-info .contact .contact-icon {
        height: 35px;
        margin: 5px;
    }

    #contact-form {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 20px; 
        text-align: center; 
    }

    #contact-form h3 {
        color: #fff; 
    }

    #contact-form form {
        margin-top: 10px; 
    }

    #contact-form input,
    #contact-form textarea {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px; 
    }

    #contact-form button[type="submit"] {
        width: 100%; 
    }

    
    .copyright {
        flex-basis: 100%; 
        max-width: 100%; 
        margin-top: 20px; 
        text-align: center;
        color: #fff; 
        font-size: 12px; 
    }
}
